body {
  background: black;
  justify-content: center;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
  color: white;
  cursor: default;
  margin: 0;
  padding: 8px;
}
body .hgrid {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row nowrap;
  overflow: hidden;
}
body .mode-content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}
body .mode-content .animated-mode {
  flex: 0 0 100%;
  position: relative;
  transition: opacity linear .33s, transform ease .33s;
}
body .mode-content .animated-mode.hiding {
  opacity: 0;
  transform: translate(100%, 0);
}
body .mode-bar {
  flex: 0 0 80px;
}
body .mode-bar button {
  transition: all ease .3s;
  padding: .5em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}
body .mode-bar button span {
  font-size: 32px;
  display: block;
}
body .mode-bar button.active {
  color: #eee;
}
body .mode-bar button:hover {
  color: #fff;
  border-color: #fff;
  x-box-shadow: 0 0 27px #4187ff;
  text-shadow: 0 0 27px #4187ff;
}
body .status {
  flex: 0 0 20px;
}

.nowPlaying.layout-v {
  display: flex;
  flex-flow: column nowrap;
}
.nowPlaying.layout-v .art-container {
  flex: 1 1 auto;
}
.nowPlaying.layout-v .controls-container {
  position: static;
  font-size: 18px;
  margin-top: -20px;
}
.nowPlaying.layout-v .controls-container .playback-controls .control {
  font-size: 24px;
}
.nowPlaying.layout-h {
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  justify-content: center;
}
.nowPlaying.layout-h .art-container {
  flex: 1 1 auto;
}
.nowPlaying .art-container {
  display: block;
  align-content: stretch;
  position: relative;
}
.nowPlaying .art-container .art {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.nowPlaying .art-container .art img {
  display: block;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.nowPlaying .controls-container {
  position: absolute;
  font-size: 24px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  justify-content: center;
}
.nowPlaying .controls-container .playback-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex: 2 0 auto;
}
.nowPlaying .controls-container .playback-controls .control {
  font-size: 50px;
}
.nowPlaying .controls-container .playback-controls .command-play,
.nowPlaying .controls-container .playback-controls .command-stop {
  opacity: 0.5;
}
.nowPlaying .controls-container .mode-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex: 1 0 auto;
}
.nowPlaying .metadata-container {
  flex: 0 0 auto;
}
.nowPlaying .progress-container {
  flex: 0 0 15px;
}
.progress-container .progress-underlay {
  display: block;
  height: 5px;
  margin-top: 5px;
  background: #555;
}
.progress-container .progress-underlay .progress-overlay {
  display: block;
  height: 5px;
  background: #eee;
  width: 100%;
  transition: max-width linear 0.2s;
}
.metadata-container {
  font-weight: bold;
  text-align: center;
}
.metadata-container .metadata-artist:before {
  content: ' by ';
  font-weight: normal;
}
.metadata-container .metadata-album:before {
  content: ' from ';
  font-weight: normal;
}
.controls-container .control {
  transition: all ease .3s;
  padding: .5em;
  cursor: pointer;
  width: 1em;
  height: 1em;
  text-align: center;
}
.controls-container .control.toggle {
  color: #777;
  cursor: pointer;
}
.controls-container .control.toggle.active {
  color: #eee;
}
.controls-container .control.playback {
  border: 2px solid #eee;
  box-shadow: 0 0 27px rgba(65, 135, 255, 0);
  text-shadow: 0 0 27px rgba(65, 135, 255, 0);
  border-radius: 2em;
}
.controls-container .control.playback.disabled {
  color: #555;
}
.controls-container .control.playback:hover {
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 27px #4187ff;
  text-shadow: 0 0 27px #4187ff;
}

.playlist {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
.playlist .playlist-table {
  width: 100%;
}
.playlist .playlist-table.head {
  flex: 0 0 auto;
}
.playlist .playlist-table.body {
  flex: 0 0 100%;
  overflow: auto;
}
.playlist .playlist-table table {
  width: 100%;
}
.playlist .playlist-table table tr td,
.playlist .playlist-table table tr th {
  width: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: none;
}
.playlist .playlist-table table tr td:nth-child(2),
.playlist .playlist-table table tr th:nth-child(2) {
  width: 45%;
}
.playlist .playlist-table table tr td:nth-child(3),
.playlist .playlist-table table tr th:nth-child(3) {
  width: 45%;
}
.playlist .playlist-table table tr td:nth-child(4),
.playlist .playlist-table table tr th:nth-child(4) {
  width: 5%;
}
.playlist .playlist-table table tr:nth-child(2n) {
  background: #404040;
}

