<div class="filesystem-items"></div>
<div class="controls-container">
    <div class="playback-controls">
        <span class="fa fa-fast-backward command-previous control playback" data-attr="state" data-css-class="disabled" data-true-value="stop"></span>
        <span class="fa fa-stop command-stop control playback" data-attr="state" data-css-property="display" data-value-expression="value=='play'?'inline-block':'none'"></span>
        <span class="fa fa-play command-play control playback" data-attr="state" data-css-property="display" data-value-expression="value!='play'?'inline-block':'none'"></span>
        <span class="fa fa-fast-forward command-next control playback" data-attr="state" data-css-class="disabled" data-true-value="stop"></span>
        <span class="fa fa-plus command-queue control playback" title="Queue"></span>
        <span class="fa fa-remove command-remove control playback" title="Remove"></span>
    </div>
</div>