<html>

<head>
    <title>TouchMPC</title>
    <link rel="stylesheet" href="../res/main.css" />
    <link rel="stylesheet" href="../res/font-awesome.css" />
</head>

<body>
    <div class="hgrid">
        <div class="mode-bar">
            <button type="button" data-view="nowPlaying">
                <span class="fa fa-play-circle"></span>
                Now playing
            </button>
            <button type="button" data-view="playlist">
                <span class="fa fa-list"></span>
                Playlist
            </button>
            <button type="button" data-view="filesystem">
                <span class="fa fa-hdd-o"></span>
                Filesystem
            </button>
        </div>
        <div class="mode-content">
        </div>
    </div>
    <script src="../js/app.js"></script>
</body>

</html>