.playlist {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    .playlist-table {
        width: 100%;

        &.head {
            flex: 0 0 auto;
        }

        &.body {
            flex: 1 1 100%;
            overflow: auto;
        }

        table {
            width: 100%;

            tr {
                td, th {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-wrap: none;
                }

                td:nth-child(1), th:nth-child(1) {
                    width: 9%;

                    img {
                        max-width: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }

                td:nth-child(2), th:nth-child(2) {
                    width: 43%;
                }

                td:nth-child(3), th:nth-child(3) {
                    width: 43%;
                }

                td:nth-child(4), th:nth-child(4) {
                    width: 5%;
                }

                &.selected {
                    td {
                        background: #4040d0;
                    }

                    td:nth-child(1) {
                        position: relative;
                        /*&:after{
                            content:'V';
                            font-size:50px;
                            position:absolute;
                            top:0;
                            left:0;
                            bottom:0;
                            right:0;
                        }*/
                    }
                }

                &.current {
                    td{
                        background: #409040;
                    }
                }
            }

            tr:nth-child(2n) {
                background: #404040;
            }
        }
    }

    .controls-container {
        flex: 0 0 auto;
        flex-direction: row;

        .playback-controls {
            flex: 1 1 auto;

            .control {
                font-size: 24px;
            }
        }
    }
}
